node_modules/
vendor/
public/
bootstrap/ssr/
storage/
database/

dist/
build/
coverage/
*.min.js

resources/js/components/ui/*
resources/js/actions/
resources/js/routes/
resources/js/wayfinder/

Zettelfix-reloaded.bak/


