resources/js/components/ui/*
resources/views/mail/*

node_modules/
vendor/
public/build/
public/hot/
bootstrap/ssr/
database/
storage/
Zettelfix-reloaded.bak/

dist/
build/
coverage/

package-lock.json
yarn.lock
pnpm-lock.yaml

